/*Header font size adjustments */
        .navbar-brand {
            font-weight: 700;
            margin-right: 0;
            padding-top: 0rem; 
            padding-bottom: 0rem;
        }

        /* Adjusted .page-subtitle to be generic for all subtitles */
        .page-subtitle {
            /*color: #adb5bd;*/
            margin-left: 5px;
            padding-left: 10px;

            line-height: 1.2;
            padding-top: 2px;
            font-size: 0.8rem; /* Added font size for better visibility */
            color: #adb5bd;
        }
        
        /* New class for the second subtitle (Email) to inherit style */
        .second-subtitle {
            margin-left: 5px;
            padding-left: 10px;
            line-height: 1.2;
            padding-top: 2px;
            font-size: 0.8rem; /* Match Dashboard font size */
            color: #adb5bd;
        }

        .sidebar {
            position: fixed;
            top: 44px; /* Adjusted top position to match common header height */
            left: 0;
            z-index: 100;
            padding-top: 0; 
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            background-color: #f8f9fa;
            width: 240px; 
        }

        /* Header height consistency */
        .main-header {
            height: 44px; 
            padding-top: 0.4rem !important; 
            padding-bottom: 0.4rem !important;
        }

        .navbar-brand-wrapper {
            width: 240px; 
        }
        
        /* Main Content CSS */
        main {
            margin-top: 44px; 
        }

        @media (min-width: 768px) {
            .main-content-wrapper {
                margin-left: 240px;
            }
        }
        
        /* Menu hover effect */
        .sidebar .nav-link {
            color: #333; 
            transition: background-color 0.2s, color 0.2s; 
            padding: 0.5rem 1rem; 
        }

        .sidebar .nav-link:hover {
            color: #ffffff; 
            background-color: #0d6efd; 
        }
        
        .sidebar .nav-link.active {
            background-color: #e9ecef;
            color: #0d6efd;
        }

    