/*Header font size adjustments */
        .navbar-brand {
            font-family: Tahoma;;
            font-weight: 700;
            margin-right: 0;
            padding-top: 0rem; 
            padding-bottom: 0rem;
        }


        .bg-myskolar {
        background-color: #2787B4;
}


        /* Adjusted .page-subtitle to be generic for all subtitles */
        .dashboard-subtitle {
            margin-left: 5px;
            padding-left: 10px;
            line-height: 1.2;
            padding-top: 2px;
            font-size: 0.8rem; 
            color: #ffffff;
        }
        
        /* New class for the second subtitle (Email) to inherit style */
        .email-subtitle {
            margin-left: 5px;
            padding-left: 10px;
            line-height: 1.2;
            padding-top: 2px;
            font-size: 0.8rem; 
            color: #ffffff;
        }

        .sidebar {
            position: fixed;
            top: 44px; /* Adjusted top position to match common header height */
            left: 0;
            z-index: 100;
            padding-top: 0; 
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
           background-color: #f8f9fa;
            width: 240px; 
        }

        /* Header height consistency */
        .main-header {
            height: 44px; 
            padding-top: 0.4rem !important; 
            padding-bottom: 0.4rem !important;
        }

        .navbar-brand-wrapper {
            width: 240px; 
        }
        
        /* Main Content CSS */
        main {
            margin-top: 44px; 
        }

        @media (min-width: 768px) {
            .main-content-wrapper {
                margin-left: 240px;
            }
        }
        
        /* Menu hover effect */
        .sidebar .nav-link {
            color: #333; 
            transition: background-color 0.2s, color 0.2s; 
            padding: 0.5rem 1rem; 
        }

        .sidebar .nav-link:hover {
            color: #ffffff; 
            background-color: #2787B4;; 
        }
        
        .sidebar .nav-link.active {
            background-color: #e9ecef;
            color: #7085A8;
        }



        /*Login Page */

  

  
    .user-login-form{
    display: block;
    width: 100%;
    background-color: white;
    border: 3px solid #2787B4;
    height: 50px;
    font-size: 1.1rem;
}


